.button_scanner {
    width: 90px;
    height: 50px;
    border-radius: 15px;
    background-color: pink;
    color: white;
    margin: 0 8px;
    border: 1px solid black;
}

.active {
    background-color: green;
    color: black;
}

.button_navbar {
    width: 35px;
    height: 35px;
}

.button_footer {
    flex: 1 1 auto;
    border: 1px solid white;
    display: grid;
    place-items: center;
}

